<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{{ url_for('bp_user.add_user') }}" method="post">
    <p>用户名:<input name="username" type="text">
    {% if form.username.errors %}
         <span style="color:red;">
        {{ form.username.errors | join('<br>') }}
         </span>
        {% endif %}
    </p>
    <p>姓 名:<input name="nickname" type="text"></p>
    <p>密 码：<input type="password" name="password" size="20">
        {% if form.password.errors %}
         <span style="color:red;">
        {{ form.password.errors | join('<br>') }}
         </span>
        {% endif %}
    </p>
	<p>性 别：<input type="radio" value="M" name="gender">男&nbsp;&nbsp;
	<input type="radio" name="gender" value="F">女</p>
	<p>角 色：<select size="1" name="role">
	<option value="teacher">教师</option>
	<option value="student">学生</option>
	<option selected>null</option>
	</select></p>
    <p><input type="submit"></p>
</form>
</body>
</html>