<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li style="color: green">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  <h1>{{ user.nickname }}的个人信息</h1>
  <p>用户名：{{ user.username }}</p>
  <p>姓名：{{ user.nickname }}</p>
  <p>性别：{{ user.gender }}</p>
  <p>角色：{{ user.role }}</p>
  <p><a href="{{ url_for('bp_user.list_users') }}">返回</a></p>
</body>
</html>